

<div>
<img src="/images/beer.png" alt="beer" width="200" height="200px" class="beerImg">
<button class="button"><a href="/beer">Check the beers!</a></button>
<br>
<br>
<button class="button"><a href="/random-beer">Check a Random Beer</a></button>
</div>